@charset "UTF-8";

body{
    background-color: rgb(6, 215, 90);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}  
h1{
    color: rgb(139, 74, 0);
}
h2{
    color: rgb(202, 28, 155)
}
p {text-align: justify;}
